<!doctype html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <title>Unlock</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/global.css" rel="stylesheet" type="text/css">
    <link href="/styles/404.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar fixed-top bg-lightgrey">
              <div class="container-fluid">
                <span class="navbar-brand">
                    <img src="/assets/logo.svg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                    Unlock
                </span>
              </div>
            </nav>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>Ce scénario est en court d'élaboration par nos équipes !</h1>
                        <h2>Vous pouvez pour le moment tester le tutoriel !</h2>
                        <div class="error-actions">
                            <a href="/" class="btn bg-lightgrey">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <p style="margin-bottom:0;">&copy; 2023 Jeremy Fouquet - Thibaut Decressonniere - Georges Miot</p>
            </div>
        </footer>
        <!-- SCRIPTS -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/popper.js/umd/popper.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>