<html lang="fr">
    <head>
        <title>Test MongoDB</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <main>
        <h1>Inscription</h1>
        <form action="http://localhost:3000/api/users/signup" method="POST">
            <input class="mail" id="email" type="email" name="email" placeholder="Email">
            <input class="pass" id="pass" type="password" name="pass" placeholder="Password">
            <input class="submit" type="submit" value="Register">
        </form>
    </main>
        
        <!-- <script src="index.js"></script> -->
    </body>
</html>