.connection {
    text-align: center;
    margin-bottom: 3rem;
}
.form-check, .form-check-input, .form-check-label {
    cursor: pointer;
}
#instructions, #btn-container, #waiting {
    display: none
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.carousel {
    margin-bottom: 3rem;
}
.carousel-caption {
    /* bottom: 3rem; */
    z-index: 10;
}
.carousel-item {
    height: 24rem;
}
.img-instructions {
    height: 200px;
}